<h1>Hello, Stucco!</h1>
<p>Welcome to your new single-page translator:</p>
<ul>
    <li>MongoDB is used for data persistance.</li>
    <ul>
        <li>Service is listening on 'mongodb://localhost:27017' (configurable in appsettings.json)</li>
        <li>DB should be entitled 'TranslationsDB' (configurable in appsettings.json)</li>
        <li>Collection should be entitled 'Translations' (configurable in TranslationContext)</li>
    </ul>
    <li>Angular 4.2 is used for client-side code</li>
    <li class="alert-info">Unfortunatelly the provided helper API doesn't translate very well if the from text is with special characters even if encoded (tested with Postman). </li>
    <li>The API seems to be translating OK if letters are latin, thus the output is good even if there are special characters :)</li>
</ul>


